= semantic_form_for person, class: 'person' do |f|

  = f.inputs do
    = f.input :name
    = f.input :email
    = f.input :urls_as_text, as: :text, label: 'Your web site(s) (one per line)'

  .actions
    = f.submit 'Save'
