- background_color = summary_color(person)

.person.summary{style: "background: #{background_color}"}
  .content
    %h2.name= person.name
    
    - if person.url?
      .url= link_to person.url.gsub(%r_^https?://_, ''), person.url
    
    - if person.projects.any?
      .projects
        Working on:
        - person.projects.each do |proj|
          .project= link_to proj.name, proj
    
    - if person.role_offers.any?
      .role-offers
        Interested in:
        - person.role_offers.includes(:role).each do |offer|
          .role= link_to offer.role.skill_name, offer.role
