- person_color = featured_color_for(person)

- if person == current_user
  = link_to "Edit Profile", edit_person_path(person), class: 'big-button edit', style: "background: #{person_color}"

.banner{style: "color: #{person_color}"}
  - heading person.name

  .bio
    - if person.department?
      .bio-item= person.department
    - if person.class_year?
      .bio-item Class of #{person.class_year}
  
  - if person.urls.any?
    .urls
      - person.urls.each do |url|
        .url= pretty_url_link url

- with_next_heading_level do

  .meta{style: "color: #{person_color}"}
    - if person.projects.any?
      = render 'projects/thumb_list', projects: person.projects, project_list_title: "Participating in"
    
    - if person.role_offers.includes(:role).any?
      .role-offers
        - heading "Interested in" do
          - person.role_offers.each do |offer|
            .role= link_to offer.role.skill_name, offer.role

.divider
