- hide_scm_urls ||= false

= project_form "basics" do |f|
  = hidden_field_tag(:full_form, true)  # in case we're on the new page
  = f.inputs do
    = f.input :name
    = f.input :tagline, hint: "A very short description or slogan"
    = f.input :url, label: 'Project web site', required: false, placeholder: 'https://'
    - unless hide_scm_urls
      = f.input :scm_urls_as_text, as: :text, label: 'Github URL(s)', placeholder: "https://github.com/user/projectname", hint: "(one per line)"
  .actions
    = f.save_button
