.nav-bar
  = link_to root_url, class: 'logo' do
    = image_tag image_url("devgarden-logo-small-white.svg"), alt: 'Dev Garden'
  .nav-items
    .nav-item= link_to 'About', page_path('about')
    .nav-item= link_to 'Contact', page_path('contact')
    - if logged_in?
      .nav-item= link_to 'Log Out', logout_path
    - else
      .nav-item= link_to 'Log In', login_path
  .clear
