= provide :page_description do
  Macalester’s Software Collaboration Space.
  Provides support and mentoring for student software projects.
  Open to all majors, roles, backgrounds and ability levels.

= provide :hero do
  .hero= image_tag "devgarden-logo.svg", alt: 'Dev Garden – Macalester Software Collaboration Space', class: "dark-mode-logo"

- cache ['home', 'features', Event.maximum(:updated_at)], expires_in: 5.minutes do
  .features
    .feature.about
      .blurb
        .line The Dev Garden supports student software projects.
        .line It is open to <b>all</b> majors, roles, backgrounds, and ability levels.
      .more= link_to 'More Info', about_path

    .feature.about
      .blurb
        .line
          = link_to "Open consulting hours", event_path(1)
          are available to all Macalester students
        .line who are working on a software-related project, regardless
        .line of major, background, or level of experience.
      .more= link_to "More info", event_path(1)

    - if EventDate.future.any?
      .feature.events
        .event-list
          - upcoming_events(min_events: 3, including_all_within: 1.week) do |event, dates|
            = render 'events/event', event: event, dates: dates
          .more= link_to "More events", events_path

- cache ['home', 'projects', Project.maximum(:updated_at)] do
  .projects.infinite-scroll.summary-group
    - heading "Projects" do
      .meta.popup-on-scroll
        .project-count #{Project.visible.count} projects
        .project-add= link_to 'Add yours!', new_project_path
      .content
        = render 'projects/recent', projects: Project.visible.recent(20)

- cache ['home', 'people', Person.maximum(:updated_at)] do
  .people.infinite-scroll.summary-group
    - heading "People" do
      .content
        = render 'people/recent', people: Person.visible.recent(20)
