
= provide :hero do
  = image_tag image_url("devgarden-logo.svg"), class: 'hero', alt: 'Dev Garden – Macalester Software Collaboration Space'

.events
  .event-list
    - upcoming_events(min_events: 3, including_all_within: 1.week) do |event, dates|
      .event
        .title= event.title
        .dates
          - dates.each do |date|
            .date= format_time_range(date.start_time, date.end_time)
        - if event.location
          .location
            .name=   event.location.name
            .detail= event.location.detail
  .more
    = link_to "More events", '#' #events_path

%hr

.projects.infinite-scroll.summary-group
  %h1 Projects
  .content
    = render 'projects/recent', projects: Project.recent(20)

.people.infinite-scroll.summary-group
  %h1 People
  .content
    = render 'people/recent', people: Person.recent(20)
