.edit-settings
  - unless event.new_record?
    .more= link_to "View Event", event

  - heading "#{event.new_record? ? 'New' : 'Edit'} Event" do

    = semantic_form_for event do |f|
      = f.inputs do
        = render 'shared/edit_visibility', f: f
        = f.input :title, required: true
        = f.input :description
        = f.input :location, required: true
      .actions
        = f.save_button
