= semantic_form_for project, class: 'project' do |f|

  = f.inputs do
    = f.input :name
    = f.input :tagline, hint: "A very short description or slogan"
    = f.input :url, label: 'Project web site', required: false, placeholder: 'https://'
    = f.input :scm_urls_as_text, as: :text, label: 'Github URL(s)', placeholder: "https://github.com/user/projectname", hint: "(one per line)"

  .actions
    = f.save_button
