= semantic_form_for project, class: 'project' do |f|

  = f.inputs do
    = f.input :name
    = f.input :url, label: 'URL of your project web site', required: false, placeholder: 'http://'
    = f.input :scm_urls_as_text, as: :text, label: 'Source control URL(s) for your project (one per line)'

  .actions
    = f.submit 'Save'
