= form_for project, html: { id: "project-icon-dropzone" } do
  .dz-message
    Drop or click to change image
    .detail
      Required: <b>PNG or JPEG</b>, max <b>5 MB</b> <br>
      Recommended: <b>square</b>, at least <b>512×512</b>
  - if project.icon?
    .dz-preview.dz-image-preview.existing-icon
      .dz-image
        = image_tag project.icon.feature.url, alt: 'Project logo'

= project_form "theme", autosave: true do |f|
  = f.fields_for :theme do |f|
    = f.inputs name: "Text color", id: "theme-primary-hue", class: "palette"
    = f.inputs name: "Highlight color", id: "theme-highlight-hue", class: "palette"
