- background_color = summary_color(project)

.project.summary{style: "background: #{background_color}"}
  .divider
    - gradient_id = rand(1000000)
    %svg{width: "100%", height: "100%", viewbox: "0 -1 1 2", preserveAspectRatio: "none"}
      %path{fill: background_color, d: random_divider_path}

  .content
    %h2.name= link_to project.name, project_path(project)

    .description= project.description
    
    - if project.url?
      .site= link_to project.url.gsub(%r_^https?://_, ''), project.url
    
    .participants
      - project.participants.each do |person|
        .name= link_to person.name, person

    - if project.role_requests.any?
      .role-requests
        Looking for
        - project.role_requests.includes(:role).each do |request|
          .role= link_to request.role.person_name, request.role
