.project-summary
  .name= link_to project.name, project_path(project)
  
  - if project.url?
    .site= link_to project.url.gsub(%r_^https?://_, ''), project.url

  .description= project.description
  
  .participants
    - project.participants.each do |person|
      .name= link_to_if person.url?, person.name, person.url

  - if project.role_requests.any?
    .role-requests
      Looking for:
      - project.role_requests.each do |request|
        .role= request.role.person_name

