- cache project do
  .project.summary{style: theme_style(project, :featured_text)}
    .content
      - if project.icon?
        = link_to project, class: 'icon' do
          = image_tag project.icon.thumb.url

      .heading
        - heading link_to(project.name, project), class: "name" do
        
          .tagline= project.tagline
          
          - if project.url?
            .site= pretty_url_link project.url

      = render "tags/project_tags", project: project
      
      - with_next_heading_level do
        .participants{style: theme_style(project, :body_text)}
          - project.participants.shuffle.each do |person|
            .name= link_to person.name, person

        - if project.role_requests.any?
          .role-requests{style: theme_style(project, :body_text)}
            - heading "Looking for" do
              - project.role_requests.shuffle.each do |request|
                .role= link_to request.role.person_name, request.role

      .divider
        %svg{width: "100%", height: "100%", viewbox: "0 -1 1 2", preserveAspectRatio: "none"}
          %path{fill: "rgba(39,37,93,0.32)", d: project_divider_path}
