- project_color = summary_color(project)

.project.summary{style: "color: #{project_color}"}
  .content
    - if project.icon?
      = link_to project, class: 'icon' do
        = image_tag project.icon.thumb.url

    .heading
      %h2.name= link_to project.name, project
      
      .description= project.description
      
      - if project.url?
        .site= link_to project.url.gsub(%r_^https?://_, ''), project.url

    .tags
      - project.tags_grouped.each do |category, tags|
        .tag-category{class: "tag-category-#{category.key}"}
          -tags.each do |tag|
            .tag= tag.name
    
    .participants
      - project.participants.shuffle.each do |person|
        .name= link_to person.name, person

    - if project.role_requests.any?
      .role-requests
        .meta Looking for
        - project.role_requests.includes(:role).shuffle.each do |request|
          .role= link_to request.role.person_name, request.role

    .divider
      %svg{width: "100%", height: "100%", viewbox: "0 -1 1 2", preserveAspectRatio: "none"}
        %path{fill: "rgba(39,37,93,0.32)", d: project_divider_path}
