.more= link_to "View Project", project
= render "shared/autosave_status"

- heading "#{project.name.presence || 'Project'} Info" do

  #project-edit-tabs.tabs
    - tabs = %w(info icon description tags participants role-reqs)
    %ul
      - tabs.each do |tab|
        %li= link_to t("projects.admin_tab_title.#{tab}"), '#' + tab

    - tabs.each do |tab|
      .tab{id: "#{tab}-tab"}
        = render "projects/admin_forms/#{tab.underscore}"
