= provide :page_description do
  #{project.name}: #{project.tagline.gsub(/\.$/, '')}.
  A project supported by Macalester’s Dev Garden.
  = first_paragraph_of_markdown(project.description)

- if can_edit?(project)
  = link_to "Edit Project", edit_project_path(project), class: 'big-button edit', style: theme_style(project, :button_background)

- cache project do
  .banner{style: theme_style(project, :featured_text)}

    - if project.icon?
      .icon
        = image_tag project.icon.feature.url

    .info
      - heading project.name, class: "name" do

        .tagline= project.tagline
        
        - if project.url?
          .site= pretty_url_link project.url

        = render "tags/project_tags", project: project

  - with_next_heading_level do

    .meta{style: theme_style(project, :body_text)}
      .participants
        - heading "Participants" do
          - project.participants.shuffle.each do |person|
            .name= link_to person.name, person

      - if project.role_requests.any?
        .role-requests
          - heading "Looking for" do
            - project.role_requests.shuffle.each do |request|
              .role= link_to request.role.person_name, request.role

      - if project.scm_urls.any?
        .repos
          - heading "Source code" do
            - project.scm_urls.each do |url|
              .repo= pretty_url_link url

    - if project.description?
      .description{style: theme_style(project, :body_text)}
        = markdown(project.description)
