= provide :page_description do
  A list of
  = current_tag.name
  projects in Macalester’s Dev Garden.

- if current_user&.site_admin?
  = link_to "Edit Tag", edit_tag_path(current_tag), class: 'big-button edit'

- heading current_tag.name do

  - if current_tag.url?
    .site= pretty_url_link current_tag.url

  - if current_tag.description?
    .description= markdown(current_tag.description)

  .meta
    = render 'projects/thumb_list', projects: current_tag.projects.visible, project_list_title: project_list_heading
