- heading role.skill_name.titlecase do

  %p= role.responsibilities

  - heading "Projects seeking #{role.person_name.pluralize}" do

    %ul
      - role.role_requests.includes(:project).each do |req|
        %li= link_to req.project.name, req.project

  - heading "People interested in #{role.skill_name}" do

    %ul
      - role.role_offers.includes(:person).each do |offer|
        %li= link_to offer.person.name, offer.person
